.con{
    height: auto;
}
.list{
    padding-top: 30px;
}
a{
    width: 445px;
    color: #333;
    margin: -7px 0 4px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
a:hover{
    text-decoration: underline;
}
.listitem{
    width: 625px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}
p{
    width: 445px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
}
.tools{
    padding-bottom: 20px;
    left: 0;
    font-size: 12px;
    color: #999;
}
.tools li{
    float: left;
    margin-right: 10px;
}
.contentimg{
    margin-top: 7px;
    width: 150px;
    height: 100px;
    margin-left: 5px;
    margin-right: 2px;
    border: 1px solid #f0f0f0;;
}
.tools img{
    width: 12px;
    margin-right: 3px;
}
.tools .hot{
    color: #ea6f5a;
    line-height: 12px;
}
.tools .hot img{
    margin-right: 8px;
}